{# templates/blog/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block javascripts  %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('map.js') }}" defer></script>
{% endblock %}

{% block title %}Map{% endblock %}

{% block page_contents %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                {% for file in geoData.files %}
                    <li class="track-list-item" data-name="{{ file.metadata.name }}">{{ file.metadata.name|e }}</li>
                {% endfor %}
            </div>
            <div class="col-xl-10">
                <div id="map" style="height: 90vh; width: 100%; outline: none" data-geo-data="{{ geoData|json_encode }}"></div>

            </div>
        </div>
    </div>
{% endblock %}
